<%
  var ads = [
    {
      href: 'http://www.jiankongbao.com/',
      label: 'jiankongbao',
      img_src: '//dn-cnode.qbox.me/FgqoCO3YpU7B5jdG_7GPhVnXc1eG',
    },
    /*
    20150526过期不更新
    {
      href: 'https://campaign.gitcafe.com/leapmotion2015',
      label: 'gitcafe',
      img_src: '//dn-cnode.qbox.me/FvU2wKg1Hk4mGMjAxmxu9woYnpdz',
    },
    竟然是个需要登录的网址
    {
      href: 'https://portal.qiniu.com/hb/?utm_campaign=hb&utm_source=cnode&utm_medium=advposition&utm_content=png',
      label: 'qiniu-event',
      img_src: '//dn-cnode.qbox.me/FqFdDaC0q3T2EckLEgU9PANuwj9J',
    },
    */
    {
      href: 'https://talk.ai/?s=cnodejs',
      label: 'teambition',
      img_src: '//dn-cnode.qbox.me/FsJ2QW9zAHLvrPgC767PvuMWBkRQ',
    },
    {
      href: 'http://www.apicloud.com/',
      label: 'apicloud',
      img_src: '//dn-cnode.qbox.me/FsmD61Bf12f7l4zTXp6hoJ-6D4Ao',
    },
    {
      href: 'https://cnodejs.org/topic/559e927f3d79442724b9f1e2',
      label: 'shimo',
      img_src: '//dn-cnode.qbox.me/FsIC6DBRkw1sfVF5V0G-Qc5UOYZP',
    },
    {
      href: 'http://www.oneapm.com/ai/feature.html?utm_source=cnode&utm_medium=billboard&utm_term=master&utm_campaign=JulyTechAds&from=maadfiseno',
      label: 'oneapm',
      img_src: '//dn-cnode.qbox.me/FiHabJNEMPYpbpxZJd4maf8EY1fF',
    },
    {
      href: 'https://www.jpush.cn/',
      label: 'jpush',
      img_src: '//dn-cnode.qbox.me/FvFi-YFqS-wIAbG-afNp7Cywo5ut',
    },
    {
      href: 'http://www.rongcloud.cn/',
      label: 'rongcloud',
      img_src: '//dn-cnode.qbox.me/FmMTa1PNYP3gig6q1yoYz1QncUYL',
    },
    {
      href: 'http://100offer.com/join/cnode71?utm_source=cnode71&utm_medium=dis&utm_campaign=cnode71',
      label: '100offer',
      img_src: '//dn-cnode.qbox.me/FojExpHUPJ_1iG7qDOJvnRQ7RmnX',
    },
  ];

    var randomNum = (new Date()).getHours() % ads.length;

    ads = ads.slice(randomNum).concat(ads.slice(0, randomNum));
%>
<div class='panel'>
  <div class='inner ads'>

    <% ads.forEach(function (adObj, idx) { %>
      <% if (idx !== 0) { %>
        <div class="sep10"></div>
      <% } %>
      <a href="<%-adObj.href%>" target="_blank" class="banner sponsor_outlink"
    data-label="<%=adObj.label%>">
        <img src="<%- staticFile(adObj.img_src) %>">
      </a>
    <% }) %>
  </div>
</div>
